{% extends 'nav.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .outer{background-color: rgb(185, 193, 240);
               padding: 5px;
               margin: 112px;
               margin-left: 400px;
               margin-right: 400px;
               font-size: 32px;
        }
      
        h5{color:red;}
        h2{color:black}
       hr{color:black;}
        body{background-color: rgb(205, 209, 233);}
    </style>
</head>
<body>
<center>
    <div class="outer">
        <h2> Registration Form ...</h2><br><hr>
    <form action="" method="post">
        {% csrf_token %}
        {% for i in data %}
        <div> {{ i.label_tag }} {{ i }} {{i.errors}} <br><br></div>
         {% endfor %}
        <input type="submit" value="Register"><br> <h5>If you  have login credential  click here !!!
        <a href="{% url 'login' %}" class="btn btn-info">login</a>
    </form>
    </div>
</center>
</body>
</html>
{% endblock %}